* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 695px;
  height: 640px;
  background-color: white;
  padding: 39px 80px;
}

.main {
  height: 100%;
  width: 240px;
}

.edit-mode {
  pointer-events: none;
}
